* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 0;
  padding: 0;
  font-family: 'Goldman', cursive;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 20px;
  background-color: #323133;
  overflow-x: hidden!important;
}
h2 {
  transition: all 0.9s;
}

/*========================== Scroll-Animation ===================================================*/

[data-scroll] {
  transition: 0.6s ease-out;
}

li [data-scroll="in"] {
  transform: translateX(0);
  opacity: 1;
}
li [data-scroll="out"] {
  transform: translateX(-200px);
  opacity: 0;
}

#about [data-scroll="in"] {
  transform: translateY(-2px);
  opacity: 1;
}
#about [data-scroll="out"] {
  transform: translateY(200px);
  opacity: 0;
}

#about__section[data-scroll="in"] {
  transform: translateX(0);
  opacity: 1;
}
#about__section[data-scroll="out"] {
  transform: translateX(200px);
  opacity: 0;
}

#whatido[data-scroll="in"] {
  opacity: 1;
}
#whatido[data-scroll="out"] {
  opacity: 0;
}

h3:not(#whatido)[data-scroll="in"] {
  transform: translateY(-2);
  opacity: 1;
}
h3:not(#whatido)[data-scroll="out"] {
  transform: translateY(200px);
  opacity: 0;
}

p[data-scroll="in"] {
  transform: translateY(0);
  opacity: 1;
}
p[data-scroll="out"] {
  transform: translateY(200px);
  opacity: 0;
}

/*========================== Scroll-Animation ===================================================*/

#third-container button:active {
  color: orangered;
  background: white;
}
.second-box h2:hover {
  transform: rotate(-3deg);
}
.icons svg:hover {
  transform: rotate(13deg);
}
h2:hover {
  transform: skew(0, -10deg);
}
.scale:hover {
  background-color: fff;
}


h3:hover:not(h3.name) {
  transform: skew(0, -13deg);
}

h5 {
  text-align: center;
}

@media (min-width: 600px) {
  .proskill {
    flex-wrap: wrap;
  }
  #main-display #header {
    display: none;
  }
}
@media (max-width: 500px) {
  div#third-container {
    width: 100%;
  }
  
  #nav-bar {
    display: none!important;
  }
  .main-container {
    flex-direction: column;
  }
  .proskill {
    /*max-width: 100%;*/
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    align-items: center;
    /*box-shadow: 10px 0 7px -5px black, 10px 0 7px -5px black inset;*/
  }

  .scale {
    font-size: 15px !important;
    transform: translate(-15px, -30px);
    max-width: 50%;
    margin: auto;
  }

  .work {
    margin-top: 50px;
  }
  /*#first-container {
        padding-left: 7em;
    }*/

  .first-box {
    flex-basis: 700px;
    margin: 10px;
  }

  .first-box ul {
    margin-bottom: 60px ;
    transform: translateY(-60px);
  }
  /*div .container-image{
        width: 100vw;
        border: solid red;
    }*/

  /* #first-container,
  #second-container,
  #third-container,
  #main-display {
    max-width: 100%;
  } */

  .first-box:nth-child(1) {
    z-index: -1;
  }
}

#header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white /*rgb(250, 117, 68)*/;
  z-index: 100;
  padding: 5px 0;
  box-shadow: 0 1px 5px black;
}
#header a {
  text-decoration: none;
  color: orangered;
  font-weight: bold;
  padding: 5px 10px;
  border: solid white;
  /*transform: skew(-10deg, -8deg);*/
}

#main-display {
  background-image: url(./images/codescreen3.gif);
  /* background-attachment: fixed; */
  background-position: center bottom;
  background-size: cover;
  /*object-fit: fill;*/
  background-color: #d9d9d9;
  height: 700px;
  width: 100%;

  color: lightgrey;
}

.hi {
/*   font-size: 60vh; */
  font-weight: bold;
  text-transform: capitalize;
/*   background-color: #cc2e05; */
  padding: 10px;
  width: 89.7px;
  transform: translateY(60px);
  margin: auto;
  border-radius: 3.5px;

  position: relative;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  transition-delay: 0.5s;
  background-color: #dd3d15; 
  box-shadow: 7px 1px 8px rgb(61, 61, 61);
}

.name {
  overflow: hidden;
}

.name h3 {
  font-size: 56px;
  font-weight: bold;
  text-transform: capitalize;
  height: auto;
  position: relative;
  left: -100px;
  /*right: -320px;*/
  overflow: hidden;
  opacity: 0;
  transition: left 0.4s ease, opacity 0.6s ease;
  transition-delay: 1.6s;
}

.intro {
  margin: auto;
/*   border-bottom: solid #cc2e05; */
  font-family: 'Goldman', cursive;
  font-size: 19px;
  font-weight: 800;
  line-height: 50px;
  padding: 2px 45px;
  background-color: #232224;
  max-width: 380px;
  width: fit-content;
  border-radius: 3px;
  position: relative;
  bottom: -30px;
  transform: scale(.86);
  opacity: 0;
  transition: bottom 0.4s ease, opacity 0.5s, transform .6s ease;
  transition-delay: 2.5s;
}

/*#greeting
{
    font-family: 'Cinzel', serif;
    max-height: 3vh;
    margin: 0px;
    font-size: 5.6vh;
    font-weight: 2000;
    text-transform: capitalize;
}*/

#greeting {
  overflow: hidden;
  color: white;
  position: absolute;
  left: 0;
  text-align: center;
  top: 0%;
  padding: 20vh 0;
  width: 100%;
  font-family: 'Chakra Petch', sans-serif;
}

.main-container {
  padding-bottom: 60px;
  /*flex-wrap: nowrap;*/
  box-sizing: border-box;
  /*padding-bottom: 17.5vw;*/
  width: 90%;
  margin: auto;
  height: 750px;
  background-color: #fdffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}

.icons {
  color: black;
  background-color: silver;
  padding: 10px;
  border-radius: 150px;
  transform: rotate(-7deg);
  margin: auto;
  width: 150px;
}
.icons svg {
  width: 50px;
  transition: all 0.2s;
}

#title {
  font-size: 80%;

  display: grid;
  margin: auto;
  padding: 10px 5px;
  text-align: center;
  height: 150px;
  width: 50%;
  color: #323133;
  background-color: transparent;
  transform: skew(8deg) rotate(8deg);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  transform: skew(0, 5deg);
}

#title h2 {
  font-size: 30px;
  margin: auto;
  height: auto;
  width: auto;
  color: white;
  padding: 5px 20px;
  margin: 15px;
}

#title p {
  color: black;
  padding: 10px;
  transition: all 0.3s;
}

section {
  height: fit-content;
  color: 010f1a;
}
.section-one {
  background-color: #323133; /*border-top: 5px solid #cccccc;*/
  height: 850px;
  margin-top: 100px;
  transform: skew(0, -8deg);
}
.section-two {
  background-color: #d6421d;
  transform: skew(0, -8deg);
  height: 700px;
}

.section-three {
  background-color: #3c3b3d;
  padding: 50px 30px;
  height: 700px;
}

#footer {
  height: 100px;
  background: #3c3b3d;
  color: white;
  font-size: 16px;
  margin: auto;
  padding-top: 63px;
}

#footer div {
  text-align: center;
  width: 300px;
  margin: auto;
  transform: translateY(-20px);
}
.portfolio-back2 {
  height: fit-content;
  background-image: url("/images/Portfolio-back2.jpg");
  background-size: cover;
  /*background-position: center;*/
  background-attachment: scroll;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 250px 0;
  box-sizing: border-box;
  margin-top: -90px;
}

.portfolio-text {
  align-self: base-line;
  margin-top: 30px;

  text-transform: capitalized;
  height: 60%;
  width: 90%;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.portfolio-text > h3 {
  font-size: 80px;
  font-weight: bold;
}

.portfolio-text button {
  cursor: pointer;
  margin: auto;
  margin: 40px;
  padding: 25px 75px;
  height: 25%;
  color: #323133;
  font-weight: bold;
  font-size: 24px;
  background-color: #a8d9da;
  text-transform: capitalize;
  border-radius: 2px;
  border: none;
}

.first-box {
  align-self: center;
  border-radius: 8px;
  width: 400px;
  height: 200px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  transform: skewX(-3.8deg);
}

/* .box__one-first {
  border: solid red;
}
 */
.first-box h3 {
  color: red;
  font-size: 20px;
  margin-bottom: 20px;
}

.first-box ul {
  list-style-type: none;
  width: auto;
  height: auto;
}

.first-box li {
  color: #3c3b3d;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
  transition: all 1s;
}

.second-box {
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  margin: auto;
  height: auto;
  width: fit-content;
  max-width: 550px;

  font-size: 16px;
  color: #cc2e05;
  background-color: transparent;
  transform: rotate(7deg);
}

.second-box p {
  text-align: left;
  font-size: 15px;
  padding: 15px;
  border-radius: 15px;
  color: #3f3f3f;
  font-family: 'Montserrat', sans-serif;
}
@media(min-width: 600px) {
  .second-box p {
    position: relative;
    left: -15px;
  }
}


/* About Header  */
.second-box h2 {
  /*background-color: black;*/
  padding: 0px 25px;
  margin-bottom: 26px;
  width: fit-content;

  text-align: right;
  font-size: 40px;
  font-weight: 500;
  color: black;
  text-align: right;
  position: relative;
  left: 50%;
}
@media(min-width: 600px) {
  .second-box h2 {
    transform: translate(40px)
  }
}
@media(max-width: 500px) {
  .second-box h2 {
    margin-left: -25px;
    transform: translate(-75px)
  }
}


.container-image img {
  /*box-shadow: 0px 0px 15px 0px  black;*/
  width: 90%;
  height: auto;
  border-radius: 25px;
  transition: all 1s ease;
}
div .container-image {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 200px;
  height: 200px;
  padding: 19.5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #eb4d25;
  border: solid red 1px;
  border-radius: 150px;
  overflow: hidden;
  transform: skew(0, 9deg) translate(0px, 0px) rotate(-7deg);
}


/* Materialize Here! */
.override__project-card {
  border-radius: 10px!important;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  transform: translate(120px);
  margin-right:20px;
}
@media(max-width: 500px) {
  .override__project-card  {
    border: none;
    transform: translate(0)
  }
}

.card-title {
  font-size: 20px!important;
  letter-spacing: 1.5px;
}

.z-depth-4 {
  border-bottom: solid 1px crimson
}

.card-image > img {
  transition: all 1s ease;
}

.card-image > img:hover {
  transform: scale(1.2);
}

/* .container {
  justify-content: center!important;
  border: solid red;
} */

#third-container {
  margin: 150px 0;
  margin: auto;
  width: 65%;
  height: fit-content;
  background-color: #323133 !important;
  color: white;
  box-shadow: 0 2px 5px 2px rgb(39, 39, 39);
}

.override-card {
  background-color: #323133 !important;
}

#third-container div:not(div label) {
  text-align: center;
}

#third-container h3 {
  height: auto;
  color: white;
  margin: auto;
  padding: 30px 0 0 0;
  text-align: center;
}

#third-container form {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

#third-container input {
  width: 90%;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  font-size: 20px;
  color: white;
  border-bottom: solid red;
  outline: none;
  padding: 5px;
  background-color: transparent;
}

#third-container button {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0px rgb(39, 39, 39);
}

.phone {
  margin: 14px;
  width: fit-content;
  padding: 10px;
}

.phone,
.phone a {
  display: block;
  color: orangered;
  font-size: 14px;
}

.email__container {
  border: 1px solid grey;
  width: fit-content;
  margin: 20px auto;
  border-radius: 3.5px;
}

.email__container a {
  padding: 20px;
  font-size: 25px;
}

.phone b {
  color: rgb(167, 166, 166);
  font-size: 16px;
}

#third-container label {
  color: silver;
}

.skills {
  height: auto;
  width: 350px;
  background-color: #d6cecd;
  box-shadow: 1px 4px 5px grey;
  border-radius: 8px;
  border: 2px solid grey;
  margin: auto;
  margin-top: 25px;
}

@media (max-width: 500px) {
  .skills {
    width: 220px;
  }
  .skills-inner {
    height: 13px!important;
  }
}
.skills-inner {
  text-align: center;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
  color: white;
  height: 20px;
  width: 100%;
  background-color: #323133;
  border-radius: 8px;
}
.html {
  width: 87.5%;
}
.css {
  width: 96%;
}
.javascript {
  width: 92%;
}

.nodejs {
  width: 90%;
}

.reactjs {
  width: 95%;
}

#nav-bar {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
}

#nav-bar .social__logo {
  margin-top: 15px;
  border: solid 2px silver;
  border-radius: 100%;
}

#nav-bar .social__logo > a > img {
  align-self: flex-end;
  width: 35px;
  border: solid silver;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}
#nav-bar ul {
  position: relative;
  top: 10px;
  left: 10px;
  display: inline-flex;
  list-style: none;
  width: auto;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.5s;
}
#nav-bar a:not(#github) {
  cursor: pointer;
  border: 1px solid;
  border-radius: 16px;
  padding: 5px 10px;
  width: 300px;
  text-decoration: none;
  color: rgb(228, 232, 243);
  text-transform: capitalize;
  font-size: 15px;
  margin-left: 25px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.4s ease-out;
}

#nav-bar a:hover {
  color: crimson;
  cursor: pointer;
}

#mobile-navbar {
  background-color: black;
  border: solid #595959;
  box-sizing: border-box;
  padding: 30px;
  height: 90%;
  width: 400px;
}
#mobile-navbar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 30px;
}
.image {
  height: 100%;
  width: 50%;

  float: right;
  /*background-image: url(codescreen.jpg);*/
  background-position-y: 0px;
  background-size: cover;
}

/*===================my Nav-Bar Logic ==================================*/

.mobile__navbar {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-top: 80px;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  z-index: 12;
  background-color: black;
  transition: height 0.4s ease, opacity .8s;
  border-top-left-radius: 15px;
  /*border: solid red;*/
  /*border-bottom-left-radius: 15px;*/
}

.active {
  height: 45vh;
  opacity: 1;
}

/*nav-left
{
    position: fixed;
    left: 0;
    width: 0;
    height: 25vh;
    opacity: 0;
    z-index: 1;
    background-color: black;
    transition: width 0.5s ease-out, opacity 1s;
    border-top-right-radius: 15px;
   /* border-bottom-right-radius: 15px;
    
}*/
.items {
  position: absolute;
  top: -10%;
  width: 30%;
  transition: top 50%;
}

#header button {
  height: auto;
  width: 60px;
}
#button-close {
  position: relative;
  /*right: -50px;*/
  top: 30px;
  width: 100px;
  height: 50px;
  margin-top: 25px;
  color: orangered;
  border: 1px solid orangered;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  /*float: right;*/
  transition: all 0.8s ease-out;
  /*transition-delay: 1s;*/
}
.button {
  width: 100px;
  height: 50px;
  color: orangered;
  /*border: solid orangered;*/
  text-align: center;
  font-weight: bold;
}

button {
  cursor: pointer;
}
.links {
  height: 300px;
  background-color: transparent;
  box-sizing: border-box;
  text-align: center;
  color: white;
  opacity: 1;
  transition: bottom 1s, opacity 0.5s;
  z-index: inherit;
}
.links ul {
  list-style: none;
}
.links a {
  display: block;
  padding: 10px;
  margin-top: 18px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
  color: rgba(185, 52, 3, 0.918);
  transition: all 0.2s;
  transform: skew(0, 8deg);
}
.links a:hover {
  transform: scale(1.5) skew(0, 10deg);
  color: orangered;
}


/* ========== Menu Button Toggle Animation ============ */

.menu__container {
  overflow: hidden;
  margin: 0 1.5px;
  width: fit-content;
  height: auto;
  padding: 5px 10px;
  position: absolute;
  top: 5px;
  right: 0px; 
}

.menu__container i {
  margin: 3px;
  width: 30px;
  height: 5px;
  background-color: black;
  display: block;
  border-radius: 0 2.5px 0 0;
}

.left-away__one {
  width: 20px!important;
  opacity: 1;
  transition: transform 0.4s ease-in, opacity .3s ease;
}
.left-away__two {
  width: 26px!important;
  opacity: 1;
  transition: transform 0.6s ease-in, opacity .3s ease;
}


.rise-left {
  /* transform: rotate(-45deg) translate(15px, -10px); */
  transition: all 0.3s ease;
}

.scale-right {
  transform: rotate(45deg) translate(-18px, -15px) scale(0.6);
  opacity: 0;
  transition: all 0.2s ease;
}



/* Actived Classess */
.activate-leftaway__one {
  transform: translateX(-100px) scale(.1);
  opacity: 0;
}
.activate-leftaway__two {
  transform: translateX(-100px) scale(.1);
  opacity: 0;
}



.activate__riseleft {
  transform: rotate(-45deg) translate(7px, -5px);
}

.activate__scaleright {
  transform: rotate(45deg) translate(-11px, -14px) scale(1);
  opacity: 1;
}



/* Loader Animation Here */
.loader {
  display: none;
}

.background-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: rgba(10, 10, 10, .4);
  border-radius: 2px;
  box-shadow: 3px px 6px silver;
  z-index: 100;
  position: fixed;
  top: 0%;
  left: 0%;
}

#loader {
  width: 25px;
  height: 25px;
  border: solid 10px transparent;
  border-left: solid 4px white;
  border-top: solid 4px white;
  border-radius: 50%;
  animation: spin .7s linear infinite;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* ==== Modal Pop - Up ====== */
.modal__background {
  width: 100%;
  height: 100vh;
  background: rgba(10, 10, 10, .5);

  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#modal {
  width: 55%;
  height: 100px;
  display: none;
  position: fixed;
  left: 20vw;
  top: 20vh;
  animation-name: alert;
  animation-duration: 0.6s;
  animation-timing-function: ease;
}
@keyframes alert {
  from{
    top: -10%;
    opacity: 0;
  }
  to {
    top: 20vh;
    opacity: 1;
  }
}
  
.modal__flex {
  border: solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 10px;
  background-color: orangered;
}

#modal h4 {
  color: whitesmoke;
  border-bottom: red;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 5px 15px;
  margin: auto;
}

#close-btn {
  display: block;
  cursor: pointer;
  float: right;
  color: crimson;
  background-color: black;
  width: 100%;
  font-size: 17px;
  padding: 0 15px;
}

.modal-body {
  height: fit-content;
  min-height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
}

.modal-body > img {
  margin: 0 35%;
}


#modal_footer {
  border-top: solid red;
  color:orangered;
}




/* First Loader Before DOM loads up! */

.intro__loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100vh;
  background-color: white;
  text-align: center;
}

.intro__loader > img {
  width: 20%;
  height: 100vh;
  object-fit: contain;
}
@media(max-width: 500px) {
  .intro__loader > img {
    width: 60%;
    height: 100vh;
    object-fit: contain;
  }
}